@import url("https://fonts.googleapis.com/css2?family=Laila&display=swap");

.Navbar * {
    font-family: Laila;
}

.Navbar {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
    box-sizing: border-box;
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Navbar .menu {
    position: absolute;
    right: 0;
    /* margin-top: 0; */
    top: 0;
    bottom: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.Navbar>.menu>a {
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    line-height: 50px;
    color: #f1f1f1;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.Navbar>.menu>a:active {
    background-color: #033769;
}

.Navbar>.brand {
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Navbar>.brand>* {
    margin: 5px;
}

.Navbar>.brand>img {
    height: 100%;
}

.Navbar>.brand>.caption {
    color: #f1f1f1;
    font-weight: bold;
    font-size: xx-large;
}

.Navbar>.brand::before {}