.Container {
    position: absolute;
    width: 80%;
    height: auto;
    top: 100px;
    left: 0;
    right: 0;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    gap: 10px;

}



.AuctionList {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 20px;
}

.AuctionListItem {
    width: 500px;
    height: 200px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f9f9f9;
    border-color: rgb(210, 210, 210);
    border-width: .5px;
    border-style: solid;
    text-decoration: none;
}

.AuctionListItem .status {
    position: absolute;
    width: 10%;
    height: auto;
    top: 10px;
    left: 10px;
    text-align: center;
    color: #f1f1f1;
    font-weight: bold;
}

.AuctionListItem  .Name {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    font-size: 25px;
    text-align: center;
    margin: auto;
    width: auto;
    line-height: 25px
}

.AuctionListItem .Name  .Details {
    font-size: 14px;
}

.AuctionListItem>.top {
    width: 100%;
    height: 60%;
    border-bottom: rgb(210, 210, 210) 1px solid;
}

.AuctionListItem>.top:hover {
    background-color: #979696;
    cursor: pointer;
}

.status+.right {
    right: 10px;
    left: auto;
}

.AuctionListItem .bottom {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.AuctionListItem .bottom * {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.AuctionListItem .bottom .left {
    border-right: rgb(210, 210, 210).5px solid;
}

.AuctionListItem .bottom .right {
    border-left: rgb(210, 210, 210) .5px solid;
}